# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
Workflow/mapped_reads
Workflow/results.csv
Workflow/stat_tools
Workflow/plots
Workflow/medaka
Workflow/result
Workflow/perfect_sam
Workflow/data/*_*.fasta.*
Workflow/data/*_*_*.*
Workflow/data/samples
Workflow/data/perfect
# Other files and folders
.settings/
.snakemake/
Workflow/benchmarks
Workflow/data/read_vih.fastq
Workflow/data/supl/human_read.fastq
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Wofkflow2/data/read_vih.fastq

